## Importing Libraries

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

## Reading the training data

In [11]:
file_path="data/train.csv"
train=pd.read_csv(file_path)
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Multiple Carriers,2019-03-21,Delhi,Cochin,07:05:00,21:00:00,835,1.0,No Info,13062
1,Vistara,2019-06-03,Chennai,Kolkata,07:05:00,09:20:00,135,0.0,No Info,3687
2,Indigo,2019-06-03,Delhi,Cochin,11:25:00,01:30:00,845,1.0,No Info,5883
3,Jet Airways,2019-06-06,Delhi,Cochin,20:55:00,04:25:00,450,1.0,In-flight meal not included,10262
4,Jet Airways,2019-06-27,Delhi,Cochin,18:20:00,19:00:00,1480,2.0,No Info,14300
...,...,...,...,...,...,...,...,...,...,...
635,Indigo,2019-05-21,Delhi,Cochin,06:50:00,12:10:00,320,1.0,No Info,5530
636,Jet Airways,2019-05-18,Kolkata,Banglore,08:25:00,22:35:00,850,1.0,No Info,14781
637,Indigo,2019-06-06,Kolkata,Banglore,15:15:00,20:30:00,315,1.0,No Info,5170
638,Air India,2019-06-12,Delhi,Cochin,05:10:00,08:00:00,170,0.0,No Info,5201
639,Indigo,2019-05-12,Delhi,Cochin,14:25:00,17:40:00,195,0.0,No Info,5000

In [12]:
train.dtypes

airline             object
date_of_journey     object
source              object
destination         object
dep_time            object
arrival_time        object
duration             int64
total_stops        float64
additional_info     object
price                int64
dtype: object

In [13]:
train=train.assign(
    **{
        col: pd.to_datetime(train.loc[:,col],format="mixed")
        for col in ["date_of_journey","dep_time","arrival_time"]
    }
)

train.dtypes

airline                    object
date_of_journey    datetime64[ns]
source                     object
destination                object
dep_time           datetime64[ns]
arrival_time       datetime64[ns]
duration                    int64
total_stops               float64
additional_info            object
price                       int64
dtype: object

## High level summary of the data

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          640 non-null    object
 1   date_of_journey  640 non-null    datetime64[ns]
 2   source           640 non-null    object
 3   destination      640 non-null    object
 4   dep_time         640 non-null    datetime64[ns]
 5   arrival_time     640 non-null    datetime64[ns]
 6   duration         640 non-null    int64
 7   total_stops      640 non-null    float64
 8   additional_info  640 non-null    object
 9   price            640 non-null    int64
dtypes: datetime64[ns](3), float64(1), int64(2), object(4)
memory usage: 50.1+ KB

In [16]:
train.describe(include='number')

          duration  total_stops         price
count   640.000000   640.000000    640.000000
mean    644.460938     0.821875   8935.921875
std     504.037748     0.649658   4225.910263
min      80.000000     0.000000   1965.000000
25%     175.000000     0.000000   5292.750000
50%     520.000000     1.000000   8073.000000
75%     926.250000     1.000000  12378.500000
max    2565.000000     3.000000  27992.000000

In [17]:
(
    train
    .assign(total_stops=train['total_stops'].astype(object))
    .describe(include="O")
)

            airline source destination  total_stops additional_info
count           640    640         640        640.0             640
unique            8      5           6          4.0               5
top     Jet Airways  Delhi      Cochin          1.0         No Info
freq            224    262         262        359.0             505